{{#partial "content"}}

    {{#if editHappyHour}}

        <div class="well">
            <h1>Add a new HappyHour</h1>
            <form action="/HappyHour/new" method="post">
                <div class="form-group">
                    <label for="categoryId">Neighborhood:</label>
                    <select id="categoryId" name="categoryId" required>
                        {{#each neighborhood}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class ="form-group">
                    <label for="HappyHourName">Name of HappyHour: </label>
                    <input id="HappyHourName" name="HappyHourName" type="text" class="form-control" required>
                </div>
                <div class ="form-group">
                    <label for="address">Address: </label>
                    <input id="address" name="address" type="text" class="form-control" required>
                </div>
                <div class ="form-group">
                    <label for="startTime">Start Time: </label>
                    <input id="startTime" name="startTime" type="time" class="form-control" required>
                </div>
                <div class ="form-group">
                    <label for="endTime">End Time: </label>
                    <input id="endTime" name="endTime" type="time" class="form-control" required>
                </div>
                <div class="form-group">
                    <span class="star-cb-group">
                      <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                      <input type="radio" id="rating-4" name="rating" value="4"  /><label for="rating-4">4</label>
                      <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                      <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                      <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                      <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                    </span>
                </div>
                <button type="submit" class="btn btn-success">Update HappyHour</button>
            </form>
        </div>

    {{else}}
        <div class="well">
            <h1>Add a new HappyHour</h1>
            <form action="/HappyHour/new" method="post">
                <div class="form-group">
                    <label for="categoryId">Neighborhood:</label>
                    <select id="categoryId" name="categoryId" required>
                        {{#each neighborhood}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class ="form-group">
                    <label for="HappyHourName">Name of HappyHour: </label>
                    <input id="HappyHourName" name="HappyHourName" type="text" class="form-control" required>
                </div>
                <div class ="form-group">
                    <label for="address">Address: </label>
                    <input id="address" name="address" type="text" class="form-control" required>
                </div>
                <div class ="form-group">
                    <label for="startTime">Start Time: </label>
                    <input id="startTime" name="startTime" type="time"  class="form-control" required>
                </div>
                <div class ="form-group">
                    <label for="endTime">End Time: </label>
                    <input id="endTime" name="endTime" type="time" class="form-control" required>
                </div>
                <div class="form-group">
                    <span class="star-cb-group">
                      <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                      <input type="radio" id="rating-4" name="rating" value="4"  /><label for="rating-4">4</label>
                      <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                      <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                      <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                      <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                    </span>
                </div>
                <button type="submit" class="btn btn-success">Submit!</button>
            </form>
        </div>
    {{/if}}

{{/partial}}

{{> layout.hbs}}