{{#partial "content"}}
    <h3>{{thisNeighborhood.name}}</h3>
    {{#if happyhours}}
        {{#each happyhours}}
        <div class="well">
            <h3><a href="{{thisNeighborhood.id}}/happyhours/{{id}}">{{restaurantName}}:</a></h3>
        </div>
         {{/each}}
    {{/if}}



    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a class="btn btn-warning" href="/neighborhoods/{{thisNeighborhood.id}}/delete">Delete this neighborhood!</a></p>

        </div>
    </footer>
{{/partial}}

{{> layout.hbs}}